@import "../../../globalColor";
.menu {
  background-color: $lightBackground !important;
  color: $textColor !important;
}

.dark-menu {
  background-color: $darkBackground !important;
  color: $textColorDark !important;
}

/*React-headroom*/
.headroom-wrapper {
    max-height: 100px;
  }

  .grey-color{
    color:#868e96;
  }

  .title {
    font-family: 'Agustina Regular', cursive;
    font-weight: bold;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    padding: auto;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .MuiTab-icon {
    text-align: center;
  }
  
