@import '../../../globalColor';

.MuiChip-filled:hover {
    transition: 0.3s;
    background-color: $btnHoverColor !important;
}
.MuiChip-outlined:hover {
    transition: 0.3s;
    background-color: $btnHoverColor !important;
}