// dark background colors
$darkBackground: rgb(35, 39, 47);
$lightBackground: #FFF;

// text opacity
$text-opacity: 1;

// text colors light theme
$text-opacity: 1;
$titleColor: rgb(35, 39, 47, $text-opacity);
$textColor: rgb(35, 39, 47, $text-opacity);
$subTitle: rgb(120, 131, 155, $text-opacity);
$cardSubtitle: rgb(105, 120,155, $text-opacity);

// text colors dark theme
$textColorDark: #FFFFFF;

// theme icon colors
$skillIcon: rgb(64, 123, 254, $text-opacity);

// timeline icon theme
$timelineIcon: rgb(64, 123, 254, $text-opacity)

// button colors 


// light background colors

// dark background colors

// light theme box shadows

// dark theme box colors

// social media icons
