// color modes
$darkBackground: #23272f;
$lightBackground: #FFF;

// text opacity
$text-opacity: 1;

// text colors light theme
$titleColor: rgb(35, 39, 47, $text-opacity);
$textColor: rgb(35, 39, 47, $text-opacity);
$subTitle: rgb(120, 131, 155, $text-opacity);
$cardSubtitle: rgb(105, 120,155, $text-opacity);

// text colors dark theme
$textColorDark: #FFFFFF;

// theme icon colors
$skillIcon: rgba(#0066ff, $text-opacity);

// timeline icon theme
$timelineIcon: rgba(#0066ff, $text-opacity);

// stack chips theme
$chipColor: rgba(#0066ff, $text-opacity);

// button colors 
// button colors :hover
$btnColor: rgb(64, 123, 254);
$btnHoverColor: rgb(0, 75, 196 );


// light background colors

// dark background colors

// light theme box shadows

// dark theme box colors

// social media icons


// githubRepo specific colors
$githubRepoCardLanguageColorBG: #0000ff;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardRepoNameColor: rgb(36, 41, 46);
$githubProfileCardLocationTS: #ffebcd;
$githubProfileCardBorder: #6c63ff;

// github repo avatar theme
$repoIconBgColor: rgb(136, 175, 255, $text-opacity);